body {
    box-sizing: border-box;
    background-color: rgb(44, 170, 170);
    
}
* {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.container {
    background-color: white;
    width: 500px;
    height: 508px;
    border-radius: 11px;
    margin: auto;
    position: relative;
    top: 50px;
}
.card {
    height: 200px;
    width: 500px;
}

.photos {
    display: flex;
    flex-wrap: wrap;
}
.photo {
    position: relative;
    top: -53px;
    left: 200px;
    border-radius: 50%;
    border: 10px solid white;
}
.data {
    text-align: center;
    position: relative;
    bottom: 59px;
}
.age {
    position: relative;
    bottom: 41px;
    left: 90px;
    font-size: 19px;
}
.country {
    position: relative;
    bottom: 50px;
    left: 10px;
}
.name {
    font-size: 20px;
}
.detales {
    display: grid;
    grid-template-columns: 25% 130px 126px;
    grid-template-rows: 54px 58px 42px;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 77px;

}
.age , .country , .name-follower ,.name-likes ,.name-photo{
    color: hsl(0, 0%, 59%);
}

.count-follower , .count-likes , .count-photos {
    font-size: 30px;
}
.attribution {
    display: none;
}
@media (max-width: 319px){
    .container {
        position: relative;
        left: 10px;
        width: 344px;
        right: 20px;
    }
    .card {
        width: 344px;
    }
    .photo {
        position: relative;
        left: 122px;
    }
}
@media (max-width: 767px){
    .container{
        width: 450px;
        position: relative;
        left: 70px;
        top: 320px;
    }
    .card{
        width: 450px;
        
    }
    .photo {
        position: relative;
        left: 170px;
    }

}


